@import "../../App.scss";
footer {
  min-height: 20vh;
  background: var(--clr-grey-1);
  color: var(--clr-grey-6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.contact-links i {
  color: var(--clr-white);
  font-size: 2rem;
  margin: 1rem;
  transition: color 0.3s ease-in-out;
}

.contact-links i:hover {
  color: var(--clr-primary-5);
}

footer h4 {
  letter-spacing: 0.1rem;
}
.footer-name {
  color: var(--clr-primary-5);
}

@media screen and (min-width: 776px) {
  footer h4 {
    letter-spacing: var(--spacing);
  }
}
