@import "../../App.scss";
.banner {
  background-color: var(--clr-primary-10);
  min-height: calc(100% - 5rem);
  width: 100vw;
}

.banner-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: var(--max-width);
  margin: 0 auto;
  min-height: 100vh;
}

.banner-info {
  h1 {
    margin-top: 2rem;
    margin-bottom: 1.25rem;
  }
  .social-links {
    margin-top: 2rem;
    font-size: 2rem;
    a {
      margin: 0.5rem;
    }
  }
}

@media screen and (min-width: 776px) {
  .banner-center {
    flex-direction: row;
  }
  // .profile-img {
  //   display: block;
  // }
}
